rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /furniture/{furnitureId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;

      match /favourites/{favouriteId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /scanResult/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
